<!-- Committee Section -->
    <section id="committee">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SPECPOL</h2>
                    <h3 class="section-subheading text-muted">General Assembly Fourth Committee</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">History</h4>
                    <p class="large">The Fourth Committee of the General Assembly of the United Nations is the Special Political and 
                    Decolonization Committee, otherwise known as SPECPOL . Established in 1993, SPECPOL is the combination  of  the  Decolonization  Committee  (formerly  the  Fourth  Committee)  and  the  Special Political  Committee.  This  committee’s  inception  took  place  in  1990  when  the  United  Nations established 1990-2000 as the “International Decade for the Eradication of Colonialism.”  This was particularly  important  considering  at  the  time  of  the  United  Nation’s  creation,  750  million  people lived  in  what  would  be  considered  to  be  a  colonized  territory. Over  eighty  former  colonies  have become  independent  since  1945. Today,  in  part  due  to  the  work  of  the  Fourth  Committee,  this number  has  drastically  decreased  to  approximately  two  million,  an  amount SPECPOL is  still determined to address.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-legal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mandate</h4>
                    <p class="large">According  to  its  mandate,  the  Fourth  Committee  can  discuss  issues  such  as  self-determination, decolonization, and peacekeeping efforts.  While SPECPOL was derived from the Disarmament and International  Security  Committee, it  takes  on  issues that  the  First  Committee  does  not  address,  as well  as  looking  at  topics  with  a  wider scope. . The committee’s foremost goal is to ensure that all countries enjoy the benefits of the independence to which they are entitled, and only  when  all  countries  are  economically,  culturally,  and  socially  liberated  can  the  world  move forward.</p>
                </div>
            </div>
        </div>
    </section>