<!-- Registration Section -->
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration Guidelines</h2>
                    <h3 class="section-subheading text-muted">Adhere strictly to the following.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/registration/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><a href="https://trello.com/invite/b/mQzvPKtN/14e91ce0dc2471c99214b7c10114afad/participant-stuff"  style="color:black">Trello</a></h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Click on the heading (Trello), and join the Participants stuff group. You may sign in using Google for alacrity.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/registration/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Country Selection</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Countries are being allotted on a first come first served basis. Choose a country of your choice (countries with confirmed delegates are flagged with a red confirmation tag) and leave a comment stating your branch, year and college (if not from HBTU). A moderator will confirm your choice ASAP.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/registration/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Information Mining</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Documents will be uploaded either on Trello itself or here on the website. Participants are advised to check both regularly for the study guide release and the rules.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/registration/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Queries</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">There is a list on Trello for delegates to ask their queries. For more general fest enquiries, look up the <a href="https://www.facebook.com/events/1829009634014568/">Odyssey 2017 page</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Hope To
                                    <br>See You
                                    <br>There!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>